@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #92b8e8;
}

#tentacles {
    width: 50px;
}
.nav{
    position: sticky;
    top: 0; 
    z-index: 1000;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;;
}
.header-text {
    font-size: 30px;
    margin-left: 10px;
}   

.gameB{
    font-weight: bold;
    color: lightskyblue;
    border-radius: 20px; 


}
.games-button {
    display: flexbox;
    margin-left: 40px;
    margin-right: auto;
    cursor:pointer;
    padding: 10px;
    
}
.games-button:hover {
    box-shadow: 0 0 30px lightblue;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: lightblue;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}